<nav class="sidebar text-dark vh-100" [ngClass]="{'collapsed': isCollapsed}">
  <div class="p-3 d-flex justify-content-between align-items-center">
    <img src="logo.png" alt="CarRepair Logo" class="header-logo mb-3" *ngIf="!isCollapsed" />
    <button class="btn btn-outline-dark" (click)="toggleSidebar()"> <!-- Bouton ☰ toujours visible -->
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="gap-2 nav-link text-dark d-flex align-items-center">
        <i class="fas fa-chart-bar"></i>
        <span class="menu-text ms-2" *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>

    <!-- Utilisateur avec sous-menu -->
    <li class="nav-item">
      <a class="nav-link text-dark d-flex align-items-center gap-2" href="#" data-bs-toggle="collapse" data-bs-target="#utilisateurMenu" aria-expanded="false" aria-controls="utilisateurMenu">
        <i class="fas fa-user"></i>
        <span class="menu-text ms-2" *ngIf="!isCollapsed">Utilisateur</span>
      </a>

      <ul class="collapse" id="utilisateurMenu" *ngIf="!isCollapsed">
        <li class="nav-item">
          <a routerLink="/mecanicien" routerLinkActive="active" class="nav-link text-dark gap-2 ms-3">
            <i class="fas fa-user-cog"></i> Mécanicien
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/client" routerLinkActive="active" class="nav-link text-dark gap-2 ms-3">
            <i class="fas fa-users"></i> Client
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a href="/list-appointment" routerLinkActive="active" class="nav-link text-dark d-flex gap-2 align-items-center">
        <i class="fas fa-calendar-alt"></i>
        <span class="menu-text ms-2" *ngIf="!isCollapsed">Gérer Rendez-vous</span>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/generer-facture" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
        <i class="fas fa-file-invoice"></i>
        <span class="menu-text ms-2" *ngIf="!isCollapsed">Voir Historique</span> <!-- Nouveau texte -->
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/planning" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
        <i class="fas fa-credit-card"></i>
        <span class="menu-text ms-2" *ngIf="!isCollapsed">Planning</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/services" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
        <i class="fas fa-credit-card"></i>
        <span class="menu-text ms-2" *ngIf="!isCollapsed">Service</span>
      </a>
    </li>
  </ul>
</nav>
