<nav class="sidebar text-dark vh-100" [ngClass]="{'collapsed': isCollapsed}">
  <div class="p-3 d-flex justify-content-between align-items-center">
    @if (!isCollapsed) {
      <img src="logo.png" alt="CarRepair Logo" class="header-logo mb-3" (click)="navigateToHome()" style="cursor: pointer;"/>
    }
    <button class="btn btn-outline-dark" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <ul class="nav flex-column">
    @if (userRole === 'manager') {
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center">
          <i class="fas fa-chart-bar"></i>
          @if (!isCollapsed) { <span class="menu-text ms-2">Dashboard</span> }
        </a>
      </li>

      <!-- Utilisateur avec sous-menu -->
      <li class="nav-item">
        <a class="nav-link text-dark d-flex align-items-center gap-2" href="#" data-bs-toggle="collapse" data-bs-target="#utilisateurMenu" aria-expanded="false" aria-controls="utilisateurMenu">
          <i class="fas fa-user"></i>
          @if (!isCollapsed) { <span class="menu-text ms-2">Utilisateurs</span> }
        </a>

        @if (!isCollapsed) {
          <ul class="collapse" id="utilisateurMenu">
            <li class="nav-item">
              <a routerLink="/mecanicien" routerLinkActive="active" class="nav-link text-dark gap-2 ms-3">
                <i class="fas fa-user-cog"></i> Mécanicien
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/client" routerLinkActive="active" class="nav-link text-dark gap-2 ms-3">
                <i class="fas fa-users"></i> Client
              </a>
            </li>
          </ul>
        }
        
      </li>

      <li class="nav-item">
        <a routerLink="/list-appointment" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
          <i class="fas fa-calendar-alt"></i>
          @if (!isCollapsed) { <span class="menu-text ms-2">Gérer Rendez-vous</span> }
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/planning" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
          <i class="fas fa-credit-card"></i>
          @if (!isCollapsed) { <span class="menu-text ms-2">Planning</span> }
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/services" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
          <i class="fas fa-tools"></i>
          @if (!isCollapsed) { <span class="menu-text ms-2">Service</span> }
        </a>
      </li>
    }

    @if (userRole === 'client') {
      <li class="nav-item">
        <a routerLink="/historiques" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center gap-2">
          <i class="fas fa-file-invoice"></i>
          @if (!isCollapsed) { <span class="menu-text ms-2">Voir Historique</span> }
        </a>
      </li>
    }
  </ul>
</nav>
