/* Sidebar */
.sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  
  /* Optionnel : vous pouvez ajouter un peu de padding au contenu */
  .router-outlet {
    padding: 20px;
  }
  