<div class="dashboard-container">
    <h2>Tableau de bord</h2>
    <div class="row stats">
        <div class="col">
            <div class="stat-card">
                <h3>Rendez-vous en attente</h3>
                <strong>{{ pendingAppointmentsCount }}</strong>
              </div>
        </div>
        <div class="col">
            <div class="stat-card">
                <h3>Réparations terminées</h3>
                <strong>{{ totalRepairs }}</strong>
              </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
                <h3>Répartition des rendez-vous</h3>
                <div style="width: 50%; height: 400px;">
                    <canvas baseChart
                    [data]="appointmentData"
                    [options]="doughnutChartOptions"
                    [type]="doughnutChartType">
                  </canvas>
                </div>
        </div>
        <div class="col">
                <h3>Réparations en cours et terminées</h3>
                <div style="width: 50%; height: 400px;">
                  <canvas baseChart
                          [data]="repairsStatusData"
                          [options]="doughnutChartOptionsRepairs"
                          [type]="doughnutChartTypeRepairs"></canvas>
                </div>
        </div>
    </div>
    
  </div>
  