<div id="appointment-list">
  <ul>
    @for (appointment of appointments; track $index) {
    <li>
      <div class="content">
        <div>{{ appointment.vehicleId.model }}</div>
        
        <div class="content-button">
          <button class="btn btn-info" (click)="toggleDetails(appointment._id)">
            Détails
          </button>
          @if (appointment.status === "confirmé") {
          <span class="text-success ms-3">Rendez-vous accepté</span>
          } @else {
          <button
            class="btn btn-success mx-5"
            (click)="acceptAppointment(appointment._id)"
          >
            Accepter
          </button>
          <button class="btn btn-danger">Refuser</button>
          }
        </div>
      </div>

      @if (selectedAppointmentId && selectedAppointmentId === appointment._id) {
      <div class="appointment-card">
        <app-appointment-detail
          class="details"
          [appointmentId]="selectedAppointmentId"
        ></app-appointment-detail>
      </div>
      }
    </li>
        }   
  </ul>
</div>
