<div class="container mt-4">
  <button class="btn btn-primary mb-3">
    <a href="/add-service" class="no-decoration-link">Ajouter un Service</a>
  </button>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Titre</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="2" class="text-center">
          <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-grow text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!isLoading" class="content">
      <tr *ngFor="let service of services; let i = index;">
        <td>{{ service.title }}</td>
        <td>
          <button class="btn btn-info btn-sm me-2" (click)="editService(service)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="openDeleteModal(service._id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <!-- Modal Bootstrap de confirmation -->
  <!-- Modal de confirmation de suppression -->
  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">
            Confirmation de suppression
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer ce service ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Annuler
          </button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>