<div class="container mt-2">
    <h2 class="mb-3">Liste des clients</h2>

    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Téléphone</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let client of clients; let i = index" class="animate-fade-in">
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone }}</td>
          </tr>
          
      </tbody>
    </table>
  </div>