<div>
  <div>
    <app-menu></app-menu>
  </div>
  <div class="banner-section d-flex flex-row justify-content-around mb-3">
    <div class="banner-content">
      <h3 class="fw-bold text-uppercase">You can trust your car to us!</h3>
      <p class="mt-2 text-light">
        Reliable repairs, expert service, and total peace of mind.  
      Book your appointment today and let our professionals take care of your car!
      </p>
      <button class="contact-btn mt-3">Contact Us</button>
    </div>
    <div class="banner-content">
      <app-signup></app-signup>
    </div>
  </div>
  <div id="serviceOffer">
    <app-service-offer></app-service-offer>
  </div>
  <div id="contact">
    <app-contact></app-contact>
  </div>
  <div class="mt-3">
    <app-footer></app-footer>
  </div>
</div>
