.appointmentDetail {
    margin-top: 10px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .bookDetails p {
    margin: 5px 0;
    font-size: 18px;
  }