.login-container {
    max-width: 400px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.login-subtitle {
    font-size: 16px;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.header-logo {
    width: 80px;
    height: auto;
}

body {
    background-color: rgba(11, 10, 17);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}