<div class="container mt-2">
  <h2 class="mb-3">Gestion des Mécaniciens</h2>

  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addMecanicienModal">
    Ajouter
  </button>


  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Spécialité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      
        <tr *ngFor="let mecanicien of mecaniciens; let i = index">
          <td>{{ mecanicien.name }}</td>
          <td>{{ mecanicien.email }}</td>
          <td>{{ mecanicien.phone }}</td>
          <td>{{ mecanicien.specialty }}</td>
          <td>
            <button
            [ngClass]="mecanicien.status === 'active' ? 'btn-success' : 'btn-warning'"
            class="btn btn-sm"
            (click)="openConfirmModal(mecanicien)"
          >
            {{ mecanicien.status === 'active' ? 'Désactiver' : 'Activer' }}
          </button>
          </td>
        </tr>
        
    </tbody>
  </table>
</div>

<!-- Modal pour Ajouter un Mécanicien -->
<div class="modal fade" id="addMecanicienModal" tabindex="-1" aria-labelledby="addMecanicienModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMecanicienModalLabel">Ajouter un mécanicien</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" id="nom" class="form-control" [(ngModel)]="data.name" name="name" required />
          </div>
        
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="data.email" name="email" required />
          </div>
        
          <div class="mb-3">
            <label for="telephone" class="form-label">Téléphone</label>
            <input type="tel" id="telephone" class="form-control" [(ngModel)]="data.phone" name="name" required />
          </div>
        
          <div class="mb-3">
            <label for="specialite" class="form-label">Spécialité</label>
            <input type="text" id="specialite" class="form-control" [(ngModel)]="data.speciality" name="speciality" required />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

<!-- Toast de succès Bootstrap -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Succès</strong>
      <small>A l'instant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer"></button>
    </div>
    <div class="toast-body">
      Opération effectué avec succès !
    </div>
  </div>
</div>


<!-- Modal de confirmation -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Voulez-vous vraiment {{ selectedMecanicien?.status === 'active' ? 'désactiver' : 'activer' }} ce mécanicien ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="toggleMecanicienStatus()"
        >
          Oui, {{ selectedMecanicien?.status === 'active' ? 'Désactiver' : 'Activer' }}
        </button>
      </div>
    </div>
  </div>
</div>