<footer class="bg-dark text-light">
  <div class="container text-center d-flex justify-content-between pt-3 pb-3">
    <!-- Logo -->
    <img src="logo.png" alt="CarRepair Logo" class="footer-logo mb-3" />

    <!-- Texte Copyright -->
    <div class="d-flex row gap-2">
      <span>&copy; Mars 2025</span>
      <span>FARAMAMPIONONA Haingo Nirina</span>
      <span>NIRINA MAMPIONONA Felaniaina</span>
    </div>
    
    <!-- Icônes réseaux sociaux -->
    <div class="social-icons d-flex gap-3">
      <a href="https://www.facebook.com" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
      <a href="mailto:contact@carrepair.com"><i class="fas fa-envelope"></i></a>
    </div>
  </div>
</footer>
