<div class="container mt-5">
    <h2 class="text-center mb-4">Our services</h2>
    
    <div class="row">
      @for (service of services; track $index) {
        <div class="col-md-6 mb-4">
          <div class="card shadow">
            @if (service.image) {
              <img [src]="getImageUrl(service.image)" class="card-img-top" alt="Image du service">
            }
            <div class="card-body">
              <h5 class="card-title">{{ service.title }}</h5>
              <p class="card-text">{{ service.description }}</p>
            </div>
          </div>
        </div>
      }
    </div>
</div>
