/* Style pour la barre de recherche compacte */
.navbar {
  background-color: #fff;
  box-shadow: 10px 5px 5px #f7f7f7;
}
.search-bar {
  width: 150px; /* Largeur compacte sur petits écrans */
}
.container{
  text-align: end !important;
}

@media (min-width: 768px) {
  .search-bar {
    width: 300px; /* Barre plus large sur écrans moyens et grands */
  }
}


/* Ajuste l'alignement entre la barre de recherche et l'icône de profil */
.dropdown {
  margin-left: auto; /* Aligne à droite */
}
